root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[*.md]
tab_width = 2

[*.yaml]
tab_width = 2

[*.json]
tab_width = 2

[{CMakeLists.txt,*.cmake{,.in}}]
tab_width = 2

[.clang-format]
tab_width = 2
