# Continuous integration to build and test all project components.
name: CI

on:
  # Execute when any branch is pushed to
  push:

  # Allows manual running of the action
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Cache dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: clang libsdl2-dev libvulkan-dev libglm-dev cppcheck clang-format glslang-tools
          version: 1.0
          execute_install_scripts: true

      - name: Install additional dependencies
        run: sudo apt-get install -y libboost-program-options-dev libboost-test-dev

      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure and build
        uses: threeal/cmake-action@latest
        with:
          args: -DCMAKE_BUILD_TYPE:STRING=Debug
          generator: Ninja
          cxx-compiler: clang++
          run-test: true
