# Continuous integration to build and test all project components.
name: CI
on:
  # Any branch pushed to
  push:
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: sudo apt-get install -y libsdl2-dev libboost-all-dev libvulkan-dev libglm-dev cppcheck

      - name: Checkout
        uses: actions/checkout@v3.3.0

      - name: Configure and build
        uses: threeal/cmake-action@latest
        with:
          args: -DCMAKE_BUILD_TYPE:STRING=Debug
          generator: Ninja
          cxx-compiler: clang++
          run-test: true
