# GitHub Action to build and deploy documentation to GitHub Pages.
name: Documentation

on:
  push:
    branches: ["main"]

  # Allows manual running of the action
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allows one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Pages
        uses: actions/configure-pages@v3

      - name: Cache dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: cppcheck clang-format doxygen git
          version: 1.0

      - name: Install additional dependencies
        run: sudo apt-get install -y graphviz

      - name: Configure and build docs
        uses: threeal/cmake-action@latest
        with:
          args: -DCMAKE_BUILD_TYPE:STRING=Release -DIsoPunk_BUILD_DOCS:BOOL=ON -DIsoPunk_BUILD_GAME:BOOL=OFF -DIsoPunk_ENABLE_LIBS:BOOL=OFF
          generator: Ninja

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "build/docs/out/html"

  Deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
